#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#glance,
#portfolio {
  padding-top: 20px;
  padding-bottom: 150px;
}
#reports {
  .report-link {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
